html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: Georgia;
    margin-bottom: 60px;
}

.welcome-banner {
    padding: 200px 0;
    background-color: black;
    text-align: -webkit-center;
}

.welcome-banner__content {
    max-width: 400px;
    
}

.welcome-banner__title {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}



.brand {
    width: 25%;
    height: 25%;
}

.banner {
    height: 300px;
    margin: 0px 10px;
}

.banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.categories {
    text-align: center;
    display: flex;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container .card {
    border: none;
    width: 300px;
    height: 360px;
}



.categories .item-container .card {
    width: 100%;
    height: 200px;
}

.categories .item-container .card .card_link {
    width: 100%;
    height: inherit;
    padding: 0;
}

.categories .item-container .card .card_link img {
    width: 100%;
    height: 100%;
}

.categories .item-container .card .card_link .nav-link-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 30px;
    color: white;
    transform: translate(-50%, 50%);
}

.card_link .nav-link-text p {
    margin: 0;
}

.item-container .card .card__image {
    height: 70%;
    margin-bottom: 10px;
    /*background-image: url('https://images.unsplash.com/photo-1593560708920-61dd98c46a4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.item-container .card .card__food, .item-container .card .card__details {
    height: 10%;
    font-weight: bolder;
}

.item-container .card__food {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (min-width: 576px) {
  .categories .item-container .card {
    width: 50%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .welcome-banner {
    text-align: left;
  }

  .brand {
      width: 25%;
      height: 25%;
  }

  .categories .item-container {
    justify-content: flex-start;
    margin: 0 89px;
  }

  .categories .item-container .card {
        width: 25%;
        margin: 10px;
        border-radius: 1rem;
  }

  .categories .item-container .card {
    width: 275px;
    height: 245px;
  }

  .categories .item-container .card .card_link img {
    border-radius: 1rem;
  }
}

@media (min-width: 992px)  {
  .categories .item-container {
    margin: 0 53px;
  }

  .categories .item-container .card {
    width: 423px;
    height: 275px;
  }
}

@media (min-width: 1280px) {
  .categories .item-container {
        margin: 0 50px;
  }
  .categories .item-container .card {
    width: 275px;
    height: 240px;
  }

}

@media (min-width: 1280px) {
  .categories .item-container .card {
    width: 275px;
    height: 240px;
  }
}

@media (min-width: 1440px) {
    .categories .item-container .card {
        width: 315px;
        height: 300px;
    }
}