@page
@model RazorPizzeria.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<section id="main">
    <h1>Razor Pizzeria</h1>
    <p>Razor pizzeria is a small project made with Razor Pages inspired on Microsoft's tutorials</p>
</section>
