@page
@model RazorPizzeria.Pages.PizzasModel
@{
    ViewData["Title"] = "Pizzas";
}
<div class="pizzas-container">
    @foreach(var pizza in Model.Pizzas)
    {
        <div class="card">
            <div class="card__image"></div>
            <div class="card__food">@pizza.Food</div>
            <div class="card__button">
                <button class="card__button-styles">Add</button>
            </div>
        </div>
    }
</div>