/*.starters-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    .starters-container .card {
        padding: 15px 10px;
        margin: 10px;
        width: 200px;
        height: 300px;
    }

        .starters-container .card .card__image {
            height: 80%;
            border: solid 1px black;
            background-image: url('https://images.unsplash.com/photo-1606755456206-b25206cde27e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .starters-container .card .card__food {
            height: 10%;
            font-weight: bolder;
        }

        .starters-container .card .card__button {
            height: 10%;
        }

            .starters-container .card .card__button .card__button-styles {
                width: 100%;
                color: white;
                font-weight: bolder;
                border: solid 2px red;
                background-color: red;
                border-radius: 5px;
            }*/
